		<nav class="nav">
			<div class="nav-container">
				<a href="{{ "/" | relURL }}">
					{{ if .IsPage }}
					<img src="{{ "/images/logo.png" | relURL }}" alt={{ .Site.Title }}>
					<!-- <img src="{{ .Site.BaseURL }}images/logo.png" alt={{ .Site.Title }}> -->
					{{ else }}
					<img src="{{ "/images/logo.png" | relURL }}" alt={{ .Site.Title }}>
					<!-- <img src="{{ .Site.BaseURL }}images/logo.png" alt={{ .Site.Title }}> -->
					<!-- <h1 class="nav-title">{{ .Site.Title }}</h1> -->
					{{ end }}
				</a>
				{{ partial "header-menu.html" . }}
			</div>
		</nav>
